/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-May-2019, 16:52:13
    Author     : admin
*/
/*#header .bottom-header {
    padding-top: 5px;
    padding-bottom: 5px;
}*/

.center {
  text-align: center;
  border: 3px solid green;
}

img {
     width:100%;
     height:auto;
}

.jumbotron {
    padding:4em 4em;
    margin-bottom: 0px;
    border-radius: 0px;
    overflow: hidden;
    height: 30px;
}

.helper{
    padding:1em 1em;
    display: inline-block;
    height: 80%;
    vertical-align: middle;
}

.card-deck {
    width: 70%;
}

.slidecontainer {
    width: 100%;
}

.slider {
    margin: 25px;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
